*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
      



body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
  background: radial-gradient(ellipse at bottom, #0D1E31, #111);
}

.btn{
  color: #fff;
  border: none;
  margin: 10px;
  padding: 20px 20px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
  transition-property: box-shadow;
}
.btn-primary{
  background: #50A7FF;
  box-shadow: 0 0 25px #50A7FF;
}

.btn-primary:hover{
  box-shadow: 0 0 5px #50A7FF,
              0 0 25px #50A7FF,
              0 0 50px #50A7FF,
              0 0 100px #50A7FF;
}



.btn-danger{
  background: #FF7675;
  box-shadow: 0 0 25px #FF7675;
}

.btn-danger:hover{
  box-shadow: 0 0 5px #FF7675,
              0 0 25px #FF7675,
              0 0 50px #FF7675,
              0 0 100px #FF7675;
}

.btn-warning{
  background: #F0DF51;
  box-shadow: 0 0 25px #F0DF51;
}

.btn-warning:hover{
  box-shadow: 0 0 5px #F0DF51,
              0 0 25px #F0DF51,
              0 0 50px #F0DF51,
              0 0 100px #F0DF51;
}

}
.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);